@model Gym_Core.Models.Payement

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit Payement</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="DatePayement" class="control-label"></label>
                <input asp-for="DatePayement" class="form-control" />
                <span asp-validation-for="DatePayement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MontantPayement" class="control-label"></label>
                <input asp-for="MontantPayement" class="form-control" />
                <span asp-validation-for="MontantPayement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionPayement" class="control-label"></label>
                <input asp-for="DescriptionPayement" class="form-control" />
                <span asp-validation-for="DescriptionPayement" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Membre" class="control-label"></label>
                <select asp-for="Membre" class="form-control" asp-items="ViewBag.Membre"></select>
                <span asp-validation-for="Membre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a class="badge badge-pill badge-light" asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
